<ul class="card-list">
    {{#each this}}
    {{#if id}}
    <li class="card-list_item" data-id={{id}}>
        <svg class="card-svg js-svg" id="svg" height="25" width="25">
            <use class="js-svg" href="./images/star.svg#Capa_1"></use>
        </svg>

        <div class="card-list_vote">{{vote_average}}</div>
        <img src="https://image.tmdb.org/t/p/w300{{poster_path}}" class="cl-img js-card-click" alt="img">
        <div class="card-list_overlay">
        </div>
        {{#if title}}
        <h2 class="card-list_title">{{title}}</h2>
        {{else}}
        <h2 class="card-list_title">{{name}}</h2>
        {{/if}}
    </li>
    {{else }}
    <h2 class="list-err">{{badRequest}}</h2>
    {{/if}}
    {{/each}}

</ul>