<div class="card">
    <div class="card-content-wr">
        <div class="img-container">
            <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="">
        </div>
        <div class="card-content">
            <h2 class="title">{{title}}</h2>
            <ul>
                <li>
                    <p class="about-title">Country</p>
                    <p class="countries">
                        {{#each production_countries}}
                        <span>{{name}}</span>
                        {{/each}}
                    </p>
                </li>
                <li>
                    <p class="about-title">Tagline</p>
                    <p class="slogan">{{tagline}}</p>
                </li>
                <li>
                    <p class="about-title">Budget</p>
                    <p class="budget">{{budget}}$</p>
                </li>
                <li>
                    <p class="about-title">Revenue</p>
                    <p class="revenue">{{revenue}}</p>
                </li>
                <li>
                    <p class="about-title">Genres</p>
                    <ul class="genres-list">
                        {{#each genres}}
                        <li class="genres-list"><a href="#">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li>
                    <p class="about-title">Runtime</p>
                    <p class="runtime">{{runtime}}</p>
                </li>
                <li>
                    <p class="about-title">Realese Date</p>
                    <p class="release-data">{{release_date}}</p>
                </li>
            </ul>







            <p class="imdb">{{vote_average}}</p>


        </div>
    </div>
    <div class="trailer-frame">

    </div>

    <div class="slider-container">
        <div class="actors">
            <h2 class="slider-head">Actors</h2>
            <div class="actor-list">
            </div>
        </div>
        <div class="films-frames">
            <h2 class="slider-head">Frames from film</h2>
            <div class="movie-images-list">
            </div>
        </div>
    </div>
</div>