<ul class="fav-list">

    {{#each this}}
    {{#if id}}
    <li class="fav-item" data-id={{id}} data-category={{categorys}}>
        <i class="fas fa-times fav-close js-close-btn"></i>
        {{#if title}}
        <h2 class="title">{{title}}</h2>
        {{else}}
        <h2 class="title">{{name}}</h2>
        {{/if}}
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" class="js-card-click" alt="img">

    </li>
    {{else}}
    <h2 class="Error">{{notFound}}</h2>
    {{/if}}
    {{/each}}


    {{!-- <li class="not-founded">not-founded</li> --}}

</ul>